<div class="container-login">
  <div class="wrapper">
    <form action="#" (submit)="onSubmit()">
      <h2>Iniciar sesión</h2>
        <div class="input-field">
        <input type="text" [(ngModel)]="email" name="email" required>
        <label>Introduce tu email</label>
        </div>
      <div class="input-field">
        <input [type]="showPassword ? 'text' : 'password'" [(ngModel)]="password" name="password" required>
        <label>Introduce tu contraseña</label>
        <i class="bi" [ngClass]="showPassword ? 'bi bi-eye-slash' : 'bi bi-eye'" (click)="togglePasswordVisibility()"></i>
      </div>
      <div class="forget">
        <label for="remember">
          <input type="checkbox" id="remember">
          <span>Recuerdame</span>
        </label>

        <a href="#">¿Has olvidado tu contraseña?</a>
      </div>
      <button type="submit">Iniciar sesión</button>
      <div class="register">
        <p>¿No tienes cuenta? <a href="#" routerLink="/register" routerLinkActive="active">Registro</a></p>
      </div>
    </form>
  </div>
</div>


