<div class="container-register">
  <div class="wrapper">
    <form action="#">
      <h2>Registro</h2>
      <div class="input-field">
        <input type="name" required>
        <label>Introduce tu nombre completo</label>
      </div>
        <div class="input-field">
        <input type="email" required>
        <label>Introduce tu email</label>
      </div>
      <div class="input-field">
        <input type="password" required>
        <label>Introduce tu contraseña</label>
      </div>
      <div class="input-field">
        <input type="password" required>
        <label>Introduce confirmación de tu contraseña</label>
      </div>
      <button type="submit">Registro</button>
      <div class="login">
        <p>¿Ya tienes una cuenta? <a href="#" routerLink="/login" routerLinkActive="active">Iniciar sesión</a></p>
      </div>
    </form>
  </div>
</div>


