@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

.container-register {
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("../../../assets/homeBet.jpg");
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  width: 100%;
  padding: 0 10px;
}
.container-register::before {
  content: "";
  position:absolute;
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
}
.wrapper {
  margin-top: 4.43rem;
  width: 400px;
  border-radius: 8px;
  padding: 30px;
  text-align: center;
  border: 1px solid rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(8px);
  margin-bottom: 1rem;
}
form {
  display: flex;
  flex-direction: column;
}
h2 {
  font-size: 2rem;
  margin-bottom: 20px;
  color: #fff;
}
.input-field {
  position: relative;
  border-bottom: 2px solid #ccc;
  margin: 15px 0;
}
.input-field label {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  color: #fff;
  font-size: 16px;
  pointer-events: none;
  transition: 0.15s ease;
}
.input-field input {
  width: 100%;
  height: 40px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 16px;
  color: #fff;
}
.input-field input:focus~label,
.input-field input:valid~label {
  font-size: 0.8rem;
  top: 10px;
  transform: translateY(-120%);
}
.forget {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 25px 0 35px 0;
  color: #fff;
}
#remember {
  accent-color: #fff;
}
.forget label {
  display: flex;
  align-items: center;
}

span {
  margin-left: 0.5rem;
}

.wrapper a {
  color: #efefef;
  text-decoration: none;
}
.wrapper a:hover {
  text-decoration: underline;
}

button {
  background: #c0c0c0;
  color: #212121;
  font-weight: 600;
  border: none;
  padding: 12px 20px;
  border-radius: 3px;
  font-size: 16px;
  border: 2px solid transparent;
  cursor: not-allowed;
}

.button-register {
  background: #fff;
  color: #000;
  cursor: pointer;
  transition: 0.3s ease;
}
.button-register:hover {
  color: #fff;
  border-color: #fff;
  background: rgba(255, 255, 255, 0.15);
}
.login {
  text-align: center;
  margin-top: 30px;
  color: #fff;
}

/* register.component.scss */
.input-field {
  position: relative;
  margin-bottom: 1rem;
}

.invalid-feedback {
  color: red;
  font-size: 0.875em;
  margin-top: 0.25rem;
}

.is-invalid {
  border-color: red;
}

.false-a{
  text-decoration: underline;
  cursor: pointer;
}

.modal-dialog{
  top: 7.5rem;
  max-height: 50%;
  min-height: 400px;
}

.modal-body::-webkit-scrollbar {
  width: 0.75rem; /* Ancho del scrollbar */
}

.modal-body::-webkit-scrollbar-thumb {
  background-color: #c0c0c0; /* Color del thumb del scrollbar */
}

.modal-body::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Cambia el color del thumb del scrollbar cuando se pasa el mouse sobre él */
}
