<section class="section-custom gradient-custom-2">
  <div class="container py-custom">
    <div class="row d-flex justify-content-center">
      <div class="col col-lg-9 col-xl-8">
        <div class="card">
          <div class="h-custom rounded-top text-white d-flex flex-row bg-primary">
            <div class="w-custom-img ms-4 mt-5 d-flex flex-column container-svg">
              <img
              [src]="profileImage"
              alt="Generic placeholder image"
              class="img-fluid-custom img-svg"
              (mouseover)="showToast()"
              (mouseout)="hideToast()"
              (click)="fileInput.click()"/>
              <!-- Elemento de entrada de archivo oculto -->
              <input type="file" id="fileInput" #fileInput (change)="onFileSelected($event)"/>

            </div>
            <div class="mt-name ms-3">
              <h2>{{user?.name}}</h2>
            </div>
          </div>
          <div class="p-custom-info text-black bg-body-secondary">
            <div class="d-flex justify-content-end text-center py-1 text-body">
              <div>
                <p class="mb-1 number-custom-size fw-custom-number">{{user?.balance}} €</p>
                <p class="p-custom-size text-muted mb-0">Balance</p>
              </div>
              <div class="px-3">
                <p class="mb-1 number-custom-size fw-custom-number">0.00 €</p>
                <p class="p-custom-size text-muted mb-0">Bono</p>
              </div>
              <div>
                <p class="mb-1 number-custom-size fw-custom-number">{{user?.balance}} €</p>
                <p class="p-custom-size text-muted mb-0">A retirar</p>
              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5 text-body">
              <h5 class="h5-custom-size lead fw-normal mb-1">Cuenta</h5>
              <div class="p-4 bg-body-secondary">
                <p class="action-custom-size font-italic mb-1">Id de la cuenta: <span class="text-primary">{{user?.id}}</span> </p>
                <p class="action-custom-size font-italic mb-1">Correo electrónico: <span class="text-primary">{{user?.email}}</span></p>
                <p class="action-custom-size font-italic mb-1">Nombre: <span class="text-primary">{{user?.name}}</span></p>
                <p class="action-custom-size font-italic mb-0">Cuenta creada : <span class="text-primary"> {{ user?.created_at | date: 'yyyy-MM-dd HH:mm:ss' }}</span></p>

              </div>
            </div>
          </div>
          <div class="card-body p-4 text-black">
            <div class="mb-5 text-body">
              <h5 class="h5-custom-size lead fw-normal mb-1">Acciones</h5>
              <div class="p-4 bg-body-secondary">
                <p class="fw-custom-p action-custom-size font-italic mb-1"><a class="text-decoration-none" [routerLink]="['/deposit-page']">Ingresar</a></p>
                <p class="fw-custom-p action-custom-size font-italic mb-1"><a class="text-decoration-none" [routerLink]="['/withdrawals-page']">Retirar</a></p>
                <p class="fw-custom-p action-custom-size font-italic mb-1"><a class="text-decoration-none" href="#">Historial</a></p>
                <p class="fw-custom-p action-custom-size font-italic mb-0"><a id="delete" class="text-decoration-none" href="#" (click)="deleteAccount()">Borrar cuenta</a></p>

              </div>
            </div>
            <div class="row g-2">
              <h5 class="h5-custom-size"><a class="text-decoration-none" [routerLink]="['/contact-page']" >Contacto</a></h5>
            </div>
            <div class="row g-2">
              <h5 class="h5-custom-size"><a class="text-decoration-none" [routerLink]="['/help-page']">Ayuda</a></h5>
            </div>
            <div class="row g-2">
              <h5 class="h5-custom-size"><a id="exit" class="text-decoration-none">Salir</a></h5>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!-- Toast de Bootstrap -->
<div id="customToast" class="toast align-items-center text-black bg-info border-0 d-none" role="alert" aria-live="assertive" aria-atomic="true">
  <div class="d-flex">
    <div class="toast-body">
      Pincha para cambiar la imagen de perfil
    </div>
  </div>
</div>
