@charset "UTF-8";
.gradient-custom-2 {
  /* fallback for old browsers */
  background: rgb(36, 36, 36);
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(to right, rgb(36, 36, 36), rgb(122, 122, 122));
}

.py-custom {
  padding-top: 8rem;
  padding-bottom: 4rem;
}

.p-custom-info {
  padding: 2rem;
}

.number-custom-size {
  font-size: 1.25rem;
}
@media (min-width: 576px) {
  .number-custom-size {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .number-custom-size {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  .number-custom-size {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .number-custom-size {
    font-size: 2.25rem;
  }
}
@media (min-width: 1400px) {
  .number-custom-size {
    font-size: 2.5rem;
  }
}

.action-custom-size {
  font-size: 1.25rem;
}
@media (min-width: 576px) {
  .action-custom-size {
    font-size: 1.5rem;
  }
}
@media (min-width: 768px) {
  .action-custom-size {
    font-size: 1.75rem;
  }
}
@media (min-width: 992px) {
  .action-custom-size {
    font-size: 2rem;
  }
}
@media (min-width: 1200px) {
  .action-custom-size {
    font-size: 2.25rem;
  }
}
@media (min-width: 1400px) {
  .action-custom-size {
    font-size: 2.5rem;
  }
}

.p-custom-size {
  font-size: 1rem;
}
@media (min-width: 576px) {
  .p-custom-size {
    font-size: 1.25rem;
  }
}
@media (min-width: 768px) {
  .p-custom-size {
    font-size: 1.5rem;
  }
}
@media (min-width: 992px) {
  .p-custom-size {
    font-size: 1.75rem;
  }
}
@media (min-width: 1200px) {
  .p-custom-size {
    font-size: 2rem;
  }
}
@media (min-width: 1400px) {
  .p-custom-size {
    font-size: 2.25rem;
  }
}

.h5-custom-size {
  font-size: 2rem;
}
@media (min-width: 576px) {
  .h5-custom-size {
    font-size: 2.25rem;
  }
}
@media (min-width: 768px) {
  .h5-custom-size {
    font-size: 2.5rem;
  }
}
@media (min-width: 992px) {
  .h5-custom-size {
    font-size: 2.75rem;
  }
}
@media (min-width: 1200px) {
  .h5-custom-size {
    font-size: 3rem;
  }
}
@media (min-width: 1400px) {
  .h5-custom-size {
    font-size: 3.25rem;
  }
}

.section-custom {
  min-height: 100vh;
}

.mt-name {
  margin-top: 6.5rem;
}

.w-custom-img {
  width: 10.5rem;
}

img {
  width: 100%;
  z-index: 1;
  border: 5px solid white;
  border-radius: 5px;
  cursor: pointer;
}

.h-custom {
  height: 12rem;
}

#exit {
  color: red;
}
#exit:hover {
  color: rgb(199, 0, 0);
}

#fileInput {
  display: none;
}

.img-fluid-custom {
  width: 100%;
  min-height: 10rem;
  height: 11rem;
  max-height: 12rem;
  -o-object-fit: cover;
     object-fit: cover;
}

.img-svg:hover {
  filter: brightness(1.25);
  content: url("../../../assets/upload.svg");
  background-color: white; /* Hace que la imagen sea más blanca al pasar el cursor */
  animation: fadeIn 1s ease forwards;
  min-height: 10rem;
  height: 11rem;
  max-height: 12rem;
}

.fw-custom-number {
  font-weight: 700;
}

.fw-custom-p {
  font-weight: 500;
}

#customToast {
  position: absolute;
  top: 8rem;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  animation: fadeIn 1s ease forwards; /* Animación de fade in */
}

#customToast.fade-out {
  animation: fadeOut 1s ease forwards;
}

.toast-body {
  font-weight: bold;
}

@keyframes fadeIn {
  from {
    opacity: 0; /* Comienza completamente transparente */
  }
  to {
    opacity: 1; /* Termina completamente visible */
  }
}
@keyframes fadeOut {
  from {
    opacity: 1; /* Comienza completamente visible */
  }
  to {
    opacity: 0; /* Termina completamente transparente */
  }
}/*# sourceMappingURL=profile.component.css.map */