<div class="container-profile">

  <div class="profile-card">
      <div class="profile-header"><!-- profile header section -->
          <div class="main-profile">
              <div class="profile-image"></div>
              <div class="profile-names">
                  <h1 class="username">Nombre del usuario</h1>
                  <button class="btn btn-primary">Ingresar</button>
              </div>
          </div>
      </div>

      <div class="profile-body">
          <div class="profile-actions">
              <button class="btn btn-primary">Banca</button>
              <button class="btn btn-primary">Mi cuenta</button>
              <button class="btn btn-primary">Historial</button>
              <button class="btn btn-primary">Mi actividad</button>
              <button class="btn btn-primary">Controles de apuesta</button>
              <button class="btn btn-primary">Ayuda</button>
              <button class="btn btn-primary">Salir</button>
          </div>

          <div class="account-info">
              <div class="data">
                  <div class="important-data">
                      <section class="data-item">
                          <h3 class="value">0,00</h3>
                          <small class="title">Saldo</small>
                      </section>
                      <section class="data-item">
                          <h3 class="value">0,00</h3>
                          <small class="title">A retirar</small>
                      </section>
                      <section class="data-item">
                          <h3 class="value">0,00</h3>
                          <small class="title">Créditos de apuesta</small>
                      </section>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
