
<nav class="navbar navbar-expand-md bg-primary navbar-fixed-top">
  <div class="container-fluid">
    <a *ngIf="!isLoggedInNav()" class="navbar-brand" href="https://www.flashscore.es/" title="Información">
      <img src="../../../../assets/bet365-svgrepo-com.svg" alt="Logo" width="37" height="32" class="d-inline-block align-text-top">
      <span class="me-2 ms-n1 exception">
        BETS
      </span>
    </a>

      <a *ngIf="isLoggedInNav()" class="navbar-brand" routerLink="/deposit-page" title="Información">
        <img src="../../../../assets/money.svg" alt="Logo" width="37" height="32" class="d-inline-block align-text-top">
        <span class="me-2 ms-n1 exception font-size-custom">
          INGRESAR
        </span>
      </a>



    <button class="navbar-toggler m-mt-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation" (click)="invokeToggle()">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown" style="--bs-scroll-height: 25vh;">
      <ul class="navbar-nav navbar-nav-scroll">
        <li class="nav-item mt-1 mt-md-0">
          <a class="nav-link" href="#" routerLink="/home-page" routerLinkActive="active">
            <span>
              <img src="../../../../assets/home-dark.svg" alt="" id="svgNav" class="align-top"/>
              Home
            </span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" routerLink="/bets" routerLinkActive="active">
            <span>
              <img src="../../../../assets/sport-dark.svg" alt="" id="svgNav" class="align-top"/>
              Apuestas
            </span>
          </a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" routerLinkActive="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>
              <img src="../../../../assets/games-dark.svg" alt="" id="svgNav" class="align-top"/>
              Juegos
            </span>
          </a>
          <ul class="dropdown-menu overflow-auto bg-light text-center">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/games-page" routerLinkActive="active">
                <span>
                  <img src="../../../../assets/guide-dark.svg" alt="" id="svgNav" class="align-top"/>
                  Guía
                </span>
              </a>
            </li>
            <li><hr class="dropdown-divider border-black"></li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/games/roulette" routerLinkActive="active">
                <span>
                  <img src="../../../../assets/roulette-dark.svg" alt="" id="svgNav" class="align-top"/>
                  Ruleta
                </span>
              </a>
            </li>
            <li class="nav-item">
               <a class="nav-link not-allowed"> <!--routerLink="/games/poker" routerLinkActive="inactive" -->
                <span>
                  <img src="../../../../assets/lock.svg" alt="" id="svgNav" class="align-top"/>
                  Póker
                </span>
              </a>
            </li>

            <li class="nav-item">
              <a class="nav-link not-allowed"> <!-- routerLink="/games/blackjack" routerLinkActive="inactive"-->
                <span>
                  <img src="../../../../assets/lock.svg" alt="" id="svgNav" class="align-top"/>
                  Blackjack
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link not-allowed"> <!-- routerLink="/games/slots" routerLinkActive="inactive"-->
                <span>
                  <img src="../../../../assets/lock.svg" alt="" id="svgNav" class="align-top"/>
                  Slots
                </span>
              </a>
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown d-md-block d-none">
          <a class="nav-link dropdown-toggle" href="#" routerLinkActive="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <span>
              <img src="../../../../assets/more.svg" alt="" id="svgNav" class="align-top"/>
               Más
            </span>
          </a>
          <ul class="dropdown-menu overflow-auto bg-light text-center">
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/help-page" routerLinkActive="active">
                <span>
                  <img src="../../../../assets/help.svg" alt="" id="svgNav" class="align-top"/>
                  Ayuda
                </span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#" routerLink="/contact-page" routerLinkActive="active">
                <span>
                  <img src="../../../../assets/contact.svg" alt="" id="svgNav" class="align-top"/>
                  Contacto
                </span>
              </a>
            </li>
          </ul>
        </li>

        <li class="nav-item d-block d-md-none">
          <a class="nav-link" href="#" routerLink="/help-page" routerLinkActive="active">
            <span>
              <img src="../../../../assets/help.svg" alt="" id="svgNav" class="align-top"/>
              Ayuda
            </span>
          </a>
        </li>
        <li class="nav-item d-block d-md-none">
          <a class="nav-link" href="#" routerLink="/contact-page" routerLinkActive="active">
            <span>
              <img src="../../../../assets/contact.svg" alt="" id="svgNav" class="align-top"/>
              Contacto
            </span>
          </a>
        </li>


      </ul>

      <ul  class="navbar-nav ms-auto">
        <li *ngIf="!isLoggedInNav()" class="nav-item" #sessionStartRegister>
           <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active">
            <span>
              <img src="../../../../assets/profile-dark.svg" alt="" id="svgNav" class="align-top"/>
              Iniciar sesión/Registrarse
            </span>
          </a>
        </li>
        <li *ngIf="isLoggedInNav()" class="nav-item">
          <a class="nav-link" href="#" routerLink="/profile-page" routerLinkActive="active">
            <span>
              <img src="../../../../assets/profile-dark.svg" alt="" id="svgNav" class="align-top"/>
              Perfil
            </span>
          </a>
        </li>
         <li *ngIf="isLoggedInNav()" class="nav-item" #sessionLogout>
          <a class="nav-link" href="#" routerLink="/login" routerLinkActive="active" (click)="logOutNav()">
            <span>
              <img src="../../../../assets/logout.svg" alt="" id="svgNav" class="align-top"/>
              Cerrar sesión
            </span>
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>

