
#svgHome {
  width: 20px;
}

a {
  font-family: 'Roboto', sans-serif;
}

a:active{
  color: #ffffff;
}


#sessionSartRegister li{
  justify-self: end;
}

.nav-link-custom {
  text-decoration: none;
  font-weight: 500;
}



