@import "../../../../../scss/custom";


#svgHome {
  width: 20px;
}

.navbar-nav .nav-link.active, .navbar-nav .nav-link.show {
  font-weight: bold;
}

a span:not(.exception):hover {
  background-color: $nav-link-background-hover;
  padding: 5px 10px;
  border-radius:5px;
}

#sessionSartRegister li{
  justify-self: end;
}

.nav-link-custom {
  text-decoration: none;
  font-weight: 500;
}



