<footer class="footer-section">
  <div class="container">
      <div class="footer-cta pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-map-marker-alt"></i>
                      <div class="cta-text">
                          <h4>Encuéntranos</h4>
                          <span>C. Antonio M' Concha, 10300 Navalmoral de la Mata, Cáceres</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="fas fa-phone"></i>
                      <div class="cta-text">
                          <h4>Llámanos</h4>
                          <span>+34 685 66 28 37</span>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-md-4 mb-30">
                  <div class="single-cta">
                      <i class="far fa-envelope-open"></i>
                      <div class="cta-text">
                          <h4>Envíanos un email</h4>
                          <span>jlcastroc01@educarex.es</span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="footer-content pt-5 pb-5">
          <div class="row">
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mb-50">
                  <div class="footer-widget">
                      <div class="footer-logo">
                          <a href="https://iesaugustobriga.educarex.es/"><img src="../../../../assets/augustobriga.png" class="img-fluid" alt="logo"></a>
                      </div>
                      <div class="footer-text">
                          <p>Proyecto de fin de grado del Ciclo de Grado Superior Daw. Desarollado,documentado y presentado en su totalidad por Jorge Leonardo Castro.</p>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 col-sm-6 mb-50">
                  <div class="footer-widget">
                      <div class="footer-widget-heading">
                          <h3>Suscríbete</h3>
                      </div>
                      <div class="footer-text mb-25">
                          <p>No dejes de suscribirte a nuestros nuevos feeds, por favor completa el formulario a continuación.</p>
                      </div>
                      <div class="subscribe-form">
                        <form [formGroup]="subscribeForm" (ngSubmit)="onSubmit()" method="POST">
                          <input id="email" type="text" formControlName="to_email" placeholder="Dirección email">
                          <button type="submit" [disabled]="!subscribeForm.valid"><i class="bi bi-envelope-at-fill"></i></button>
                        </form>
                      </div>
                      <div class="mt-1" *ngIf="subscribeForm.get('to_email')?.invalid && subscribeForm.get('email')?.touched">
                        <small class="text-danger" *ngIf="subscribeForm.get('to_email')?.errors?.['email']">El email no es válido.</small>
                      </div>
                  </div>
              </div>
              <div class="col-xl-4 col-lg-4 col-md-4 mb-50">
                <div class="footer-social-icon">
                          <h4>Síguenos</h4>
                          <a href="#"><i class="bi bi-facebook"></i></a>
                          <a href="#"><i class="bi bi-twitter-x"></i></a>
                          <a href="#"><i class="bi bi-google"></i></a>
                </div>
              </div>
          </div>
      </div>
  </div>
  <div class="copyright-area">
      <div class="container">
          <div class="row">
              <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                  <div class="copyright-text">
                      <p>Copyright &copy; 2024, Todos los derechos reservados</p>
                  </div>
              </div>
          </div>
      </div>
  </div>
</footer>
