<div class="container-fluid container-img">
  <div class="content">
    <h1 class="text-center display-1 margin-custom">Home</h1>
    <div class="row mb-4 row-custom">
      <div class="home-logo-holder">
        <div class="home-logo">
          <div class="side">
            <img src="../../../assets/roulette-bet-svgrepo-com.svg"/>
          </div>
          <div class="side">
            <img src="../../../assets/bet-casino-chip-svgrepo-com.svg"/>
          </div>
          <div class="side">
            <img src="../../../assets/poker-svgrepo-com.svg"/>
          </div>
          <div class="side">
            <img src="../../../assets/-18.png" />
          </div>
        </div>
      </div>
    </div>
    <p class="text-white">Bienvenido a nuestra web. Aquí encontrarás apuestas deportivas online, estadísticas detalladas, ruleta online, tragaperras, poker. Disfruta explorando nuestra web.</p>
    <p class="text-info warning">Este sitio web está destinado únicamente a mayores de 18 años. Juega con responsabilidad.</p>
  </div>
</div>
