@import '../../../../scss/custom.scss';
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300&display=swap');

.margin-custom{
  margin-top: 5rem;
}

.container-background{
  background: -webkit-linear-gradient(to right, rgb(36, 36, 36), rgb(122, 122, 122));
  background: linear-gradient(to right, rgb(36, 36, 36), rgb(122, 122, 122));
  overflow: hidden;
  min-height: 100vh;
  width: 100%;
}

.container-payment{
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins";
}

@media (max-width: 576px) {
  .container-payment {
    margin-bottom: 4.25rem; /* Cambiar el margen inferior para pantallas menores o iguales a 576px */
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .container-payment {
    margin-bottom: 3.75rem; /* Cambiar el margen inferior para pantallas mayores a 576px y menores o iguales a 768px */
  }
}

@media (min-width: 768px) and (max-width: 992px) {
  .container-payment {
    margin-bottom: 3.5rem; /* Cambiar el margen inferior para pantallas mayores a 768px y menores o iguales a 992px */
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .container-payment {
    margin-bottom: 3.25rem; /* Cambiar el margen inferior para pantallas mayores a 992px y menores o iguales a 1200px */
  }
}

@media (min-width: 1200px) {
  .container-payment {
    margin-bottom: 3rem; /* Cambiar el margen inferior para pantallas mayores a 1200px */
  }
}



.modal-payment {
  background: #FFFFFF;
  box-shadow: 0px 187px 75px rgba(0, 0, 0, 0.01), 0px 105px 63px rgba(0, 0, 0, 0.05), 0px 47px 47px rgba(0, 0, 0, 0.09), 0px 12px 26px rgba(0, 0, 0, 0.1), 0px 0px 0px rgba(0, 0, 0, 0.1);
  border-radius: 16px;
  max-width: 450px;
  margin-top: 4rem;
}
.form-payment {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.25rem;
}
.paymentother {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1rem;
  padding: 0.75rem;
  justify-content: center;
}
.paymentother button {
  height: 55px;
  background: #F2F2F2;
  border-radius: 11px;
  padding: 0;
  border: 0;
  outline: none;
  width: 100%;
}
.paymentother button svg {
  height: 18px;
}
.paymentother button:last-child svg {
  height: 22px;
}
.separator-payment {
  width: calc(100% - 20px);
  display: grid;
  grid-template-columns: 2fr 1fr 2fr;
  gap: 1rem;
  color: #8B8E98;
  margin: 0 10px;
}
.separator-payment p {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 12px;
  margin: auto;
}
.separator-payment .line-payment {
  display: inline-block;
  width: 100%;
  height: 2px;
  border: 0;
  background-color: #e8e8e8;
}
.card-info-payment{
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}
.input-container {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.split-payment {
  display: grid;
  grid-template-columns: 4fr 2fr;
  gap: 0.9rem;
}
.split-payment input {
  width: 100%;
}
.input-label {
  font-size: 12px;
  color: #8B8E98;
  font-weight: 600;
}
.input-field {
  width: auto;
  height: 40px;
  padding: 0 0 0 16px;
  border-radius: 9px;
  outline: none;
  background-color: #F2F2F2;
  border: 1px solid #e5e5e500;
  transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
}
.input-field:focus {
  border: 1px solid transparent;
  box-shadow: 0px 0px 0px 2px #242424;
  background-color: transparent;
}
/* Reset input number styles */
.input-field::-webkit-outer-spin-button,
.input-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.checkout-payment {
  position: relative;
  font-family: inherit;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.05em;
  border-radius: 0.8em;
  border: none;
  background: $primary;
  color: ghostwhite;
  overflow: hidden;
}
.checkout-payment span {
  position: relative;
  transition: color 0.6s;
  display: inline-flex;
  align-items: center;
  padding: 0.8em 1.2em 0.8em 1.05em;
}
.checkout-payment::before,
.checkout-payment::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.checkout-payment::before {
  content: "";
  background: #000;
  width: 120%;
  left: -10%;
  transform: skew(30deg);
  transition: transform 0.5s cubic-bezier(0.3, 1, 0.8, 1);
}
.checkout-payment:hover::before {
  transform: translate3d(100%, 0, 0);
}
.checkout-payment:active {
  transform: scale(0.95);
}

#expiryDate{
  width: 15rem;
}

#cvv{
  width: 8rem;
}

.disabled{
  opacity: 0.5;
  cursor: not-allowed;
}

.disabled::before{
  background: #000;
  transform: none;
  transition:none;
}

.disabled:hover{
  background: #000;
}
