/* You can add global styles to this file, and also import other style files */

@import "../scss/custom.scss";
@import "../node_modules/bootstrap/scss/bootstrap";
@import "../node_modules/aos/dist/aos.css";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.scss";

.nav-link{
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  color: $nav-link-custom;
}

body::-webkit-scrollbar {
  width: 1rem; /* Ancho del scrollbar */
  background-color: $primary;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(40, 40, 40); /* Color del thumb del scrollbar */
}

body::-webkit-scrollbar-thumb:hover {
  background-color: black;
}

// Estilos específicos para el componente Navbar

// Media query para el ancho mínimo de 800px
@media (min-width: 800px) {
  .navbar-expand-md .navbar-toggler {
    display: none;
  }

  .navbar-expand-md {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
}
