<!-- <div class="item" data-aos="fade-up">1</div>
<div class="item" data-aos="fade-down">
  <p>La ruleta europea es uno de los juegos de casino más populares y se juega en una rueda que tiene 37 casillas
    numeradas del 0 al 36.
    El objetivo de la ruleta europea es predecir en qué número o grupo de números caerá la bola después de que se haga
    girar la rueda y lance la bola.
  </p>
</div>

<div class="item" data-aos="fade-down">
  <p>
    El objetivo del Texas Hold'em es ganar fichas obteniendo la mejor mano de póker de cinco cartas en la mesa, usando
    una combinación de cartas privadas (hole cards) y cartas comunitarias.
  </p>
</div>

<div class="item" data-aos="fade-down">
  <p>
    El objetivo del Texas Hold'em es ganar fichas obteniendo la mejor mano de póker de cinco cartas en la mesa, usando
    una combinación de cartas privadas (hole cards) y cartas comunitarias.
  </p>
</div>

<div class="item" data-aos="fade-down">
  <p>
    El objetivo del Blackjack es vencer al crupier obteniendo una mano con un valor lo más cercano posible a 21 puntos,
    sin pasarse.
  </p>
</div>

<div class="item" data-aos="zoom-in">5</div>
<div class="item" data-aos="zoom-out">6</div>
<div class="item" data-aos="slide-up">7</div>
<div class="item" data-aos="flip-up">8</div>
<div class="item" data-aos="flip-down">9</div>
<div class="item" data-aos="flip-down">10</div>
<div class="item" data-aos="flip-down">11</div>











 -->
